@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
body {
  font-weight: 150;
  color: #03a6a6;
  text-decoration: none;
  font-size: 20px;
  background-color: #222;
  font-family: 'Varela Round', sans-serif;
}
.link {
  text-decoration: none;
  color: #f6f6f6;
  font-weight: 200;
  font-size: 20px;
}
.link:hover {
  text-decoration: none;
  color: #593a28;
}
.logo {
  font-size: 30px;
}
.logo:hover {
  text-decoration: none;
  color: #f26513;
}
.link2 {
  text-decoration: none;
  color: grey;
  font-weight: 200;
}
.link2:hover {
  text-decoration: none;
  color: #f26513;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
  margin: 10px 0;
}
button {
  background-color: #f26513;
  outline-color: #03a6a6;
  color: #f6f6f6;
  border-radius: 6px;
  border: 3px solid #f26513;
  padding: 3px;
  height: 50px;
  margin-left: 30px;
  margin-top: 26px;
}
button:hover {
  background-color: #03a6a6;
  color: #f6f6f6;
  border: 3px solid #03a6a6;
}

img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
}
.padding0 {
  padding: 0px;
}
.home {
  padding: 5px 0px;
  box-shadow: 0 0 10px 0 #111;
}
.home0 {
  padding: 5px 0px;
}
.greyBack {
  background-color: #222;
  height: 100vh;
}
.marginP {
  margin-left: 14px;
}
.h1 {
  font-size: 70px;
  font-weight: 200;
  margin-top: 125px;
  text-align: center;
  color: #f26513;
}
.display {
  display: flex;
}
.around {
  justify-content: space-around;
}
.evenly {
  justify-content: space-evenly;
}
.img {
  width: 100%;
}
.nav {
  background-color: #03a6a6;
  box-shadow: 0 0 10px 0 #111;
  color: #f6f6f6;
  z-index: 1000;
  width: 100%;
  position: fixed;
}
.i {
  margin-right: 15px;
  margin-left: 70px;
  margin-top: 50px;
}
.modalImg {
  height: 86px;
  width: 100%;
}
.detailsImg {
  height: 86px;
  width: 86px;
  margin-top: 5px;
}
.modalMarginB {
  display: flex;
  margin: 20px 0px;
  padding: 10px;
}
.modelLink {
  text-decoration: none;
  color: #03a6a6;
  font-weight: 200;
}
.modelLink:hover {
  text-decoration: none;
  color: #f26513;
}
.myResImg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.myResP {
  margin: 45px 0px 0 40px;
  color: #f26513;
}
.resH1 {
  color: #f26513;
  text-align: center;
  margin: 90px 0;
}
.myResImg2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.textCenter {
  text-align: center;
}
.orange {
  color: #f26513;
}
.backDetails {
  padding: 5px 0px 20px;
  box-shadow: 0 0 15px 0 #111;
  background-color: #222;
}
.marginT {
  margin: 90px 0px 30px;
}
.marginD {
  margin-top: 15px;
}
.marginPR {
  margin-top: 12px;
}
.buttonDetails {
  width: 100%;
  border: 3px solid #03a6a6;
  border-radius: 6px;
  background-color: #03a6a6;
  height: 100px;
  margin: 20px 0px;
}
.buttonDetails:hover {
  background-color: #f26513;
  border: 3px solid #f26513;
}

.buttonAuthor {
  width: 100%;

  height: 400px;
  margin: 20px 0px;
}

.whiteBack {
  background-color: #f6f6f6;
  border-radius: 4px;
}
.imgPetition {
  height: 200px;
  width: 200px;
}
.whiteBackDetail {
  background-color: #f6f6f6;
}
.marginHost {
  margin-left: 85%;
}
.marginEdit {
  margin-left: 70%;
}
.profileImg {
  height: 300px;
  width: 300px;
  margin-bottom: 25px;
}
.marginB0 {
  margin-bottom: 0px;
}
.marginTProf {
  margin-top: 50px;
}
.secMarginB {
  margin-bottom: 40px;
}
.profileP {
  font-size: 36px;
  margin: 20px 0px 0px 0px;
}
.buttonHomeP {
  width: 100%;
  border: 3px solid #f26513;
  border-radius: 6px;
  background-color: #f26513;
  height: 300px;
  margin: 20px 0px;
}
.buttonHomeP:hover {
  background-color: #03a6a6;
  border: 3px solid #03a6a6;
  color: #f6f6f6;
}
.imgHomrP {
  margin-top: 20px;
  height: 200px;
  width: 200px;
}
.marginL0 {
  margin-left: 0px;
}
.buttonPetCard {
  width: 100%;
  border: 3px solid #03a6a6;
  border-radius: 6px;
  background-color: #03a6a6;
  height: 400px;
  margin: 20px 0px;
}
.buttonPetCard:hover {
  background-color: #f26513;
  border: 3px solid #f26513;
  color: #f6f6f6;
}
.imgPetCard {
  margin: 9px 0px 0px 16px;
}
.petDetail {
  background-color: rgba(34, 34, 34, 0.2);
  box-shadow: 0 0 10px 0 #111;
  margin-top: 150px;
  padding: 20px 30px;
  align-items: center;
  border-radius: 6px;
  /* opacity: 0.5; */
}
.marLeft{
  margin-left: 45px;
}
.allCenter{
  align-content: center;
}
.paddingSize{
  padding: 3px 20px;
}